body {
    width: 24em;
    display: flex;
    flex-direction: column;
    background-color: rgb(234, 241, 235);
}

html, body {
    padding: 0;
    margin: 0;
}

* {
    font-family: 'Quicksand', Arial, serif;
}

.logo {
    width: 100%;
    height: auto;
}
